.ant-drawer-title{
    text-align: center !important;
    font-family: $fuenteSky;
    color: white;
    border-radius: 10px;
}


.ant-drawer-header {
    background-color: $azulSkytel !important;
}

.ant-drawer-content {
    background-color: $transparent !important;
}

.ant-table-wrapper {
    border-radius: 10px !important; 
}