@import './utilities.scss';
@import './layout.scss';
@import './components/drawer.scss';
@import './components/email.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
}


.container_login{
    width: 100vw !important;
    height: 100vh !important;
    
    
    h1{
        font-family:$fuenteSky;
        color: $azulSkytel;
        
        font-size: 36px;
        position: absolute;
        top: 30px;
    }
    
    &_contact{
        
        border-radius: 5px;
        width: 50%;
        height: 70%;
        background-color: $fondo;
        
        
        &_image{
            width: 300px;
            transition: all 300ms;
            margin-top: 20px;

            &:hover{
                
                transform: rotate(-20deg);
                
            }

        }

        &_form{
        border-radius: 5px;
        margin-top: 30px;
        width: 100%;
        height: 40%;
        border: none;
        
            &_item{
                width: 200px;
                position: relative;
                transition: all 300ms;
             
                input{
                    
                    width: 95%;
                    height: 30px;
                    border: none !important;
                    border-bottom: 2px solid $azulSkytel !important;
                    color: $azulSkytel;
                    text-align: center;
                    background-color: transparent !important;
                    outline:none !important;
                    outline-offset: 0;    
                    &::placeholder{
                        color: gray;
                        text-align: center;
                    }

                    
                    
                }

                .icon{
                    
                    position: absolute;
                    bottom: 8px;
                    left:10px;
                    font-size: 28px;
                }



                &:hover{
                    width: 250px;
                    outline: none;
                }
            }
            .icon-next{
                    color: red !important;
                    font-size: 35px;
                    transition: all 300ms ease-in-out;
                    &:hover{
                        transform: scale(1.4);
                    }
            }

  
        }
    }
}

/* .ant-table-thead, .ant-table table, 
.ant-table-thead > tr > th{
    text-align: center !important;
} */