.ant-layout-sider, .ant-menu.ant-menu-dark{
    background-color: $azulSkytel !important;

    
    
 
}
.ant-layout{
    background-color: white;
    justify-content: center;
}


/* .ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger{
    min-width: 150px !important;
    max-width: 150px !important;
    .ant-layout-sider-trigger{
        min-width: 150px !important;
    max-width: 150px !important;
    }
} */

.Layout{

    &_Header{
        background-color: white;
        padding: 0 50px !important;
        height: 120px;

        &_Profile{
            border: 3px  solid $azulSkytel;
            border-left: none;
            border-top: none;
            border-radius: 5px;
            padding: 5px;
            color: white;
             p{
                 color: $azulSkytel;
                 margin: 0;
                 padding: 2px;
                 font-size: 16px;
                 font-family: $fuenteSky;
                 
             }
        }
        
        
        .logoCloud{
            width: 140px;
            height: 100px;
        }   
        .logo{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
        
        img{
            width: 100px;
            height: 70px;
        }
        h1{
            color: $azulSkytel;
            font-size: 36px;
            margin:0 0 0 -50px;
            
        }

        svg{
            font-size: 36px;
        }
    }

   
}


.sendMessageTitle{
    color: $azulSkytel;
    font-size: 48px;
    margin: 0;
    margin-bottom: -80px;
    text-align: center;
}
.countMessages{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2{
        color: $azulSkytel;
        font-size: 78px;
        margin: 0;
    }

    h3{
        color: $azulSkytel;
        font-size: 28px;
        font-family: $fuenteSky;
        margin: 0;
    }
}